body {
  background: #e4eef8;
  font-family: Poppins;
  height: 100%;
  overflow-x: hidden;
  color: #4f598a;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.logoText {
  font-weight: bold;
  font-size: 1.5rem;
  color: #4f598a;
}
.logoText a {
  color: #4f598a;
  text-decoration: none;
}
.logoText span {
  background: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
.hamburger-react {
  position: relative;
  z-index: 2;
}
.hambarger {
  position: absolute;
  top: 0px;
  display: flex;
  height: 100vh;
  width: 30%;
  background: #fff;
  font-weight: 100;
  z-index: 1;
  transition: all 0.5s;
}
.list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-top: 3rem;
}
.list li {
  margin: 10px;
}
.list li a {
  text-decoration: none;
  color: #4f598a;
}
.homediv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.perrow4 {
  width: 33%;
  box-sizing: border-box;
}
.card a {
  color: inherit;
  text-decoration: none;
}
